/* 公共样式 */
.mgr{ margin-right: 15px; }
.mgl{ margin-left: 15px; }
.pdr{ padding-right: 15px; }
.pdl{ padding-left: 15px; }

.show-grid{margin-bottom: 20px;}

/* 搜索 */
.search-form {/* text-align: center; */ margin-bottom: 10px;}
.search-form .search-btn{ margin-left: 10px; }

/* 新增 */
.add-wrapper{width: 450px; /* margin: 0 auto; */}
.add-form {/*text-align: center;*/}
.add-form .code-input{ width: 150px; }
.add-form .desc-input{ width: 400px; }
.add-form .mg-r{margin-right: 10px;}

/* 分类管理 - 新增分类 */
.category-add-wrapper{}
.category-add-form {/*text-align: center;*/}
.category-add-form .form-group{margin-right: 10px;}
.category-add-form .err-msg{display: inline-block; margin-left: 10px;}
.category-add-form .code-input{ width: 150px; }
.category-add-form .desc-input{ width: 400px; }
.category-add-form .mg-r{margin-right: 10px;}

/* 分类管理 - 查询 */
.category-search-wrapper{}